@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

$hand_size: 7rem;

@mixin transform($property) {
  -webkit-transform: $property;
  -moz-transform: $property;
  -o-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -webkit-transition: $property;
  -moz-transition: $property;
  -o-transition: $property;
  transition: $property;
}

@mixin keyframes($animation) {
  @-webkit-keyframes #{$animation} {
    @content;
  }
  @-moz-keyframes #{$animation} {
    @content;
  }
  @-o-keyframes #{$animation} {
    @content;
  }
  @keyframes #{$animation} {
    @content;
  }
}
@mixin animate($property) {
  -webkit-animation: $property;
  -moz-animation: $property;
  -o-animation: $property;
  animation: $property;
}
@include keyframes(shake_fist) {
  0%, 100% { @include transform(rotate(0deg)) }
  50% { @include transform(rotate(10deg)) }
}
@mixin shake_fist_animate {
  @include animate(shake_fist 1s infinite);
}
@include keyframes(play_fist_top) {
  0% {
    @include transform(translate(0, -100%));
    opacity: 0;
  }
  100% {
    @include transform(translate(0, 0));
    opacity: 1;
  }
}
@mixin play_fist_top_animate {
  @include animate(play_fist_top 1s 1);
}
@include keyframes(play_fist_bottom) {
  0% {
    @include transform(translate(0, 100%));
    opacity: 0;
  }
  100% {
    @include transform(translate(0, 0));
    opacity: 1;
  }
}
@mixin play_fist_bottom_animate {
  @include animate(play_fist_bottom 1s 1);
}
@include keyframes(opacity_zero) {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
@mixin opacity_zero_animate {
  @include animate(opacity_zero 0.5s 1);
}

%flex_kit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

* {
  @include transition(all 0.2s ease-in-out);

  font-family: 'Manrope', sans-serif;
}

html {
  // min font size 16px with dynamic sizing
  font-size: calc(16px + 1vw);
}

.App {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.rock {
  width: $hand_size * 0.699;
  height: auto;
}
.rock_wrap {
  @include transform(scale(1));
}
.rock_wrap:hover {
  @include transform(scale(1.2));
}
.paper {
  width: $hand_size * 1.099;
  height: auto;
}
.paper_wrap {
  @include transform(scale(1));
}
.paper_wrap:hover {
  @include transform(scale(1.2));
}
.scissors {
  width: $hand_size;
  height: auto;
}
.scissors_wrap {
  @include transform(scale(1));
}
.scissors_wrap:hover {
  @include transform(scale(1.2));
}

.flip {
  @include transform(scaleX(-1));
}

.flex_container {
  width: 100%;
  height: 100%;
}

.logo_main {
  @extend %flex_kit;
  @include opacity_zero_animate;

  img {
    cursor: pointer;
  }
  .rock_wrap {
    margin-right: 3%;
  }
  .scissors_wrap {
    margin-left: 3%;
  }
}

.play_hand {
  @extend %flex_kit;

  .hand_left, .hand_right {
    margin-left: 5%;
    margin-right: 5%;
  }
  .hand_left {
    @include play_fist_top_animate;
  }
  .hand_right {
    @include play_fist_bottom_animate;
  }
}

.score {
  color: white;
  opacity: 0.25;
  margin-top: -0.75rem;
  position: fixed;
  width: 70%;
  left: 15%;

  @extend %flex_kit;
  justify-content: space-around;

  .score_left {
    font-size: 20rem;
    margin-right: 10rem;
  }

  .score_right {
    font-size: 20rem;
  }

  z-index: -2;
}

.grid {
  display: grid;
  grid-template-columns:
          minmax(1rem, 1fr)
          repeat(12, 4rem)
          minmax(1rem, 1fr);
  grid-template-rows: repeat(64, 2rem);
  column-gap: 2rem;
  justify-content: center;
}
.nav_background {
  position: sticky;
  top: 0;

  grid-column: 1 / -1;
  grid-row: 1 / 3;
  background-color: white;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
}
.navbar {
  position: sticky;
  top: 0;

  grid-column: 2 / -2;
  grid-row: 1 / 3;

  ul {

    li {
      font-family: 'Noto Sans', sans-serif;
      margin: 0 1rem;
      list-style: none;

      .logo {
        width: 8rem;
      }

      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

@media (orientation: portrait) {
  .score {
    flex-direction: column;

    .score_left {
      font-size: 15rem;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: -10rem;
    }
    .score_right {
      font-size: 15rem;
      margin-left: 0;
      margin-right: 0;
    }
  }

  .logo_main {
    flex-direction: column;
  }
  .rock_wrap {
    margin-bottom: 6%;
  }
  .scissors_wrap {
    margin-top: 6%;
  }
}

.love {
  position: fixed;
  bottom: 0.5rem;
  left: 0;
  right: 0;
  font-size: 1rem;
  text-align: center;
  opacity: 0;
}
.love:hover {
  opacity: 1;
  cursor: default;
}